.navlink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ecf0f1;
}
