.wrapper {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 15px 20px;
  border-radius: 0 40px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.userData {
  display: flex;
  gap: 40px;
}

.userName {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  gap: 12px;
}

.userPhone {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #777;
}

.icon {
  display: flex;
  align-items: center;
}

.btnWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.deleteBtn {
  background-color: #e74c3c;
}

.deleteBtn:hover {
  background-color: #c0392b;
}
