.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    min-width: 320px;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 12px;
    box-shadow: 5px 5px 8px 0px rgb(90, 90, 90);
    transition: transform 250ms ease-in-out;
}

.wrapper:hover {
    transform: scale(1.02);
}
.userData {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.userName {
    font-size: 22px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.userPhone {
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.icon {
    display: flex;
    align-items: center;
}

.btn {
    padding: 8px;
    height: 100%;
}
